@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

:root {
  ---primary-background: #030516;
  ---secondary-background: #1f3449;
  ---linear-background: rgba(12, 38, 69, 0);
  ---linear-background2: rgba(7, 22, 38, 0);
  ---accent: #60a6e7;
  ---dark-grey: #aea9b1;
  ---light-grey: #e6e0e9;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(---light-grey);
  background: var(---primary-background);
  font-family: Arial, Helvetica, sans-serif;
}
